.card {
    border: 1px solid grey;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: burlywood;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.card.dark {
    color: white;
}

.card.light {
    color: #333;
}