.container {
    width: 15em;
    margin: 1em 1em;
    float: left;
}

.pic img {
    width: 100%;
    height: 20vh;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1em;
    color: white;
}

.channelName, .details {
    color: white;
    margin-bottom: 0.2em;
}

.channelName {
    font-size: small;
    font-weight: bold;
}

.details {
    font-size: small;
}

.views span {
    padding: 0 0.5em;
}